@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  background: #fbfaf4;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fbfaf4;
  color: #17211b;
}

a {
  text-decoration: none;
}

